.container{
    background-color: rgb(167, 181, 138);
    display: flex;

}
.userProfile,.userDetails,.accountDetails {
    margin: 10px;
}
input, select, textarea{
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 1px solid black;
}
strong{
    font-size: larger;
    font-weight: bold;
}
.telephone{
    display: flex;
}