<!-- <app-databinding></app-databinding> -->

    <div style="text-align: center;">
   
        <!-- <h1 class="head">
            welcome to {{title}}
        </h1 > -->
        <h2 class="head">Two Way Data Binding</h2>
      
        
        <ol class="container">
            <li><label class="username">UserName</label><input class="input" [(ngModel)]="username" type="text" placeholder="Enter username"></li>
            <li><label class="output">Output: <strong>{{ username }}</strong></label></li>
            <li><button [disabled]="username === ''" (click)="resetUsername()">Reset</button></li>
        </ol>
    
        
    <app-username></app-username>
    </div>
    <router-outlet></router-outlet><div style="text-align: center;">
   
   


