<body>
  
<div style="text-align: center;">
  <!-- <h1>

    Welcome to <span> {{title}}! </span>
  </h1>
     
      <img width ="250" height="250" alt ="Angular Logo" src="https://angular.io/assets/images/logos/angular/angular.png"> <br><br> -->
      <!-- <app-ngfor></app-ngfor> -->
      <!-- <app-samplefor></app-samplefor> -->
      <!-- <app-simpleform></app-simpleform> -->
    </div>   
             
            <!-- <app-checkbox></app-checkbox> <br><br> <br><br> -->
       
        <!-- <app-country></app-country> <br><br> -->
     
      
        <!-- <app-child [msg]="data"(foodEvent)="getDataFromchild($event)" > </app-child> -->
        <!-- <app-attributedir></app-attributedir> -->
        <!-- <app-ngswitch></app-ngswitch> -->
        
        <!-- <app-ngif></app-ngif> -->
        
<!-- </div>
<div style="text-align: center;">
  <br><br>
<app-course></app-course>
</div> -->
<app-demo1></app-demo1>
<!-- <app-demo2></app-demo2> -->
<!-- <app-assignment></app-assignment> -->
<!-- <app-reactiveform></app-reactiveform> -->
  <router-outlet></router-outlet>
  
</body>