<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 text-left rounded shadow py-5">
            <h2 class="text-warning"><i> Dynamic Form</i></h2>
            <form [formGroup]="myForm" (ngSubmit)="OnSubmit()">

                <div formGroupName="userDetails">
                    <div class="form-group">
                        <label for="username">UserName</label>
                        <input type="text" class="form-control" formControlName="username"
                            placeholder="Please enter name">
                        <small class="text-danger"
                            *ngIf="!myForm.get('userDetails.username').valid && myForm.get('userDetails.username') .touched">user
                            name requred
                            *</small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" formControlName="email"
                            placeholder="Please enter email address">
                        <small class="text-danger"
                            *ngIf="!myForm.get('userDetails.email').valid && myForm.get('userDetails.email').touched">
                            please
                            enter valid email *</small>
                    </div>

                </div>

                <div class="form-group mt-2">
                    <label>Courses</label>
                    <select formControlName="course" class="form-control" name="course" id="course"
                        [ngModel]="defaultCourseValue">
                        <option value="Angular">Angular</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="TypeScript">TypeScript</option>

                    </select>
                </div>

                <div class="form-group">

                    <div *ngFor="let gender of genders" class="custom-control custom-radio">

                        <input class="custom-control-input" type="radio" formControlName="gender"
                            value="{{gender.value}}" id="{{gender.id}}">

                        <label for="{{gender.id}}">{{gender.value}}</label>

                    </div>

                </div>

                <div class="form-group" formArrayName="skills">
                    <label> Skills</label>                      
                    <ng-container *ngFor="let skill of myForm.get('skills').controls; index as i">
                        <div class="row pb-2">
                            <div class="col-md-9">
                                <input type="text" class="form-control rounded" formControlName="{{i}}" placeholder="Add skills">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-add" (click)="removeGroup(i)">Remove</button>
                            </div>
                        </div>
                    </ng-container>
                    <button class="btn btn-warning btn-sm mt-4 btn-add" (click)="OnAddSkills()"><i>+</i> Add Skills</button>
                </div>


<button type="submit" class="btn btn-success mt-2">Submit</button>
                <div class="row justify-content-center mt-2" *ngIf="isFormSubmitted">
                    <h2 class="text-center">Form Data</h2>
                    <p>UserName: <strong>{{myForm.get('userDetails.username').value}}</strong></p>
                    <p>Email: <strong>{{myForm.get('userDetails.email').value}}</strong></p>
                    <p>Course: <strong>{{myForm.get('course').value}}</strong></p>
                    <p>Gender: <strong>{{myForm.get('gender').value}}</strong></p>
                    <p>Skills : <strong>{{myForm.get('skills').value}}</strong></p>
                </div>
            </form>
        </div>
    </div>
</div>